.carta {
    max-width: 400px;
    margin-left: 30%;
    margin-right: 30%;
    
}

.contenedor {
    text-align: center;
    justify-content: center;
}

.bg-info {
    text-decoration: line-through;
    color: white;
    
    
}

.icono {
    font-size: 30px;
   
}

.icono.delete {
    color: red;
}

.icono.edit {
    color: green;
}